@font-face {
  font-family: 'seti-icons';
  src: url('../assets/seti.ttf');
}

.seti-icon {
  font-family: 'seti-icons';
  font-size: 150%;
}

.seti-icon._R::before { content: '\E001'; }
.seti-icon._apple::before { content: '\E002'; }
.seti-icon._asm_light::before { content: '\E003'; color: #b8383d; }
.seti-icon._asm::before { content: '\E003'; color: #cc3e44; }
.seti-icon._audio_light::before { content: '\E004'; color: #9068b0; }
.seti-icon._audio::before { content: '\E004'; color: #a074c4; }
.seti-icon._babel_light::before { content: '\E005'; color: #b7b73b; }
.seti-icon._babel::before { content: '\E005'; color: #cbcb41; }
.seti-icon._bower_light::before { content: '\E006'; color: #cc6d2e; }
.seti-icon._bower::before { content: '\E006'; color: #e37933; }
.seti-icon._bsl_light::before { content: '\E007'; color: #b8383d; }
.seti-icon._bsl::before { content: '\E007'; color: #cc3e44; }
.seti-icon._c-sharp_light::before { content: '\E008'; color: #498ba7; }
.seti-icon._c-sharp::before { content: '\E008'; color: #519aba; }
.seti-icon._c_light::before { content: '\E009'; color: #b7b73b; }
.seti-icon._c::before { content: '\E009'; color: #cbcb41; }
.seti-icon._cake_light::before { content: '\E00A'; color: #b8383d; }
.seti-icon._cake::before { content: '\E00A'; color: #cc3e44; }
.seti-icon._cake_php_light::before { content: '\E00B'; color: #b8383d; }
.seti-icon._cake_php::before { content: '\E00B'; color: #cc3e44; }
.seti-icon._checkbox-unchecked::before { content: '\E00C'; }
.seti-icon._checkbox::before { content: '\E00D'; }
.seti-icon._cjsx::before { content: '\E00E'; }
.seti-icon._clock_light::before { content: '\E00F'; color: #627379; }
.seti-icon._clock::before { content: '\E00F'; color: #6d8086; }
.seti-icon._code-climate_light::before { content: '\E010'; color: #7fae42; }
.seti-icon._code-climate::before { content: '\E010'; color: #8dc149; }
.seti-icon._coffee_light::before { content: '\E011'; color: #b7b73b; }
.seti-icon._coffee::before { content: '\E011'; color: #cbcb41; }
.seti-icon._coffee_erb::before { content: '\E012'; }
.seti-icon._coldfusion_light::before { content: '\E013'; color: #498ba7; }
.seti-icon._coldfusion::before { content: '\E013'; color: #519aba; }
.seti-icon._config_light::before { content: '\E014'; color: #627379; }
.seti-icon._config::before { content: '\E014'; color: #6d8086; }
.seti-icon._cpp_light::before { content: '\E015'; color: #9068b0; }
.seti-icon._cpp::before { content: '\E015'; color: #a074c4; }
.seti-icon._css_light::before { content: '\E016'; color: #498ba7; }
.seti-icon._css::before { content: '\E016'; color: #519aba; }
.seti-icon._csv_light::before { content: '\E017'; color: #7fae42; }
.seti-icon._csv::before { content: '\E017'; color: #8dc149; }
.seti-icon._d_light::before { content: '\E018'; color: #b8383d; }
.seti-icon._d::before { content: '\E018'; color: #cc3e44; }
.seti-icon._db_light::before { content: '\E019'; color: #dd4b78; }
.seti-icon._db::before { content: '\E019'; color: #f55385; }
.seti-icon._default_light::before { content: '\E01A'; color: #bfc2c1; }
.seti-icon._default::before { content: '\E01A'; color: #d4d7d6; }
.seti-icon._deprecation-cop::before { content: '\E01B'; }
.seti-icon._docker_light::before { content: '\E01C'; color: #dd4b78; }
.seti-icon._docker::before { content: '\E01C'; color: #f55385; }
.seti-icon._editorconfig::before { content: '\E01D'; }
.seti-icon._ejs_light::before { content: '\E01E'; color: #b7b73b; }
.seti-icon._ejs::before { content: '\E01E'; color: #cbcb41; }
.seti-icon._elixir_light::before { content: '\E01F'; color: #9068b0; }
.seti-icon._elixir::before { content: '\E01F'; color: #a074c4; }
.seti-icon._elixir_script_light::before { content: '\E020'; color: #9068b0; }
.seti-icon._elixir_script::before { content: '\E020'; color: #a074c4; }
.seti-icon._elm_light::before { content: '\E021'; color: #498ba7; }
.seti-icon._elm::before { content: '\E021'; color: #519aba; }
.seti-icon._error::before { content: '\E022'; }
.seti-icon._eslint_light::before { content: '\E023'; color: #455155; }
.seti-icon._eslint::before { content: '\E023'; color: #4d5a5e; }
.seti-icon._f-sharp_light::before { content: '\E024'; color: #498ba7; }
.seti-icon._f-sharp::before { content: '\E024'; color: #519aba; }
.seti-icon._favicon_light::before { content: '\E025'; color: #b7b73b; }
.seti-icon._favicon::before { content: '\E025'; color: #cbcb41; }
.seti-icon._firebase_light::before { content: '\E026'; color: #cc6d2e; }
.seti-icon._firebase::before { content: '\E026'; color: #e37933; }
.seti-icon._firefox_light::before { content: '\E027'; color: #cc6d2e; }
.seti-icon._firefox::before { content: '\E027'; color: #e37933; }
.seti-icon._folder::before { content: '\E028'; }
.seti-icon._font_light::before { content: '\E029'; color: #b8383d; }
.seti-icon._font::before { content: '\E029'; color: #cc3e44; }
.seti-icon._git_light::before { content: '\E02A'; color: #3b4b52; }
.seti-icon._git::before { content: '\E02A'; color: #41535b; }
.seti-icon._git_folder::before { content: '\E02B'; }
.seti-icon._git_ignore::before { content: '\E02C'; }
.seti-icon._github::before { content: '\E02D'; }
.seti-icon._go_light::before { content: '\E02E'; color: #498ba7; }
.seti-icon._go::before { content: '\E02E'; color: #519aba; }
.seti-icon._go2_light::before { content: '\E02F'; color: #498ba7; }
.seti-icon._go2::before { content: '\E02F'; color: #519aba; }
.seti-icon._gradle_light::before { content: '\E030'; color: #7fae42; }
.seti-icon._gradle::before { content: '\E030'; color: #8dc149; }
.seti-icon._grails_light::before { content: '\E031'; color: #7fae42; }
.seti-icon._grails::before { content: '\E031'; color: #8dc149; }
.seti-icon._grunt_light::before { content: '\E032'; color: #cc6d2e; }
.seti-icon._grunt::before { content: '\E032'; color: #e37933; }
.seti-icon._gulp_light::before { content: '\E033'; color: #b8383d; }
.seti-icon._gulp::before { content: '\E033'; color: #cc3e44; }
.seti-icon._hacklang::before { content: '\E034'; }
.seti-icon._haml_light::before { content: '\E035'; color: #b8383d; }
.seti-icon._haml::before { content: '\E035'; color: #cc3e44; }
.seti-icon._haskell_light::before { content: '\E036'; color: #9068b0; }
.seti-icon._haskell::before { content: '\E036'; color: #a074c4; }
.seti-icon._heroku_light::before { content: '\E037'; color: #9068b0; }
.seti-icon._heroku::before { content: '\E037'; color: #a074c4; }
.seti-icon._hex_light::before { content: '\E038'; color: #b8383d; }
.seti-icon._hex::before { content: '\E038'; color: #cc3e44; }
.seti-icon._html_light::before { content: '\E039'; color: #cc6d2e; }
.seti-icon._html::before { content: '\E039'; color: #e37933; }
.seti-icon._html_erb::before { content: '\E03A'; }
.seti-icon._ignored_light::before { content: '\E03B'; color: #3b4b52; }
.seti-icon._ignored::before { content: '\E03B'; color: #41535b; }
.seti-icon._illustrator_light::before { content: '\E03C'; color: #b7b73b; }
.seti-icon._illustrator::before { content: '\E03C'; color: #cbcb41; }
.seti-icon._image_light::before { content: '\E03D'; color: #9068b0; }
.seti-icon._image::before { content: '\E03D'; color: #a074c4; }
.seti-icon._info_light::before { content: '\E03E'; color: #498ba7; }
.seti-icon._info::before { content: '\E03E'; color: #519aba; }
.seti-icon._ionic_light::before { content: '\E03F'; color: #498ba7; }
.seti-icon._ionic::before { content: '\E03F'; color: #519aba; }
.seti-icon._jade_light::before { content: '\E040'; color: #b8383d; }
.seti-icon._jade::before { content: '\E040'; color: #cc3e44; }
.seti-icon._java_light::before { content: '\E041'; color: #b8383d; }
.seti-icon._java::before { content: '\E041'; color: #cc3e44; }
.seti-icon._javascript_light::before { content: '\E042'; color: #498ba7; }
.seti-icon._javascript::before { content: '\E042'; color: #519aba; }
.seti-icon._jenkins_light::before { content: '\E043'; color: #b8383d; }
.seti-icon._jenkins::before { content: '\E043'; color: #cc3e44; }
.seti-icon._jinja_light::before { content: '\E044'; color: #b8383d; }
.seti-icon._jinja::before { content: '\E044'; color: #cc3e44; }
.seti-icon._js_erb::before { content: '\E045'; }
.seti-icon._json_light::before { content: '\E046'; color: #b7b73b; }
.seti-icon._json::before { content: '\E046'; color: #cbcb41; }
.seti-icon._julia_light::before { content: '\E047'; color: #9068b0; }
.seti-icon._julia::before { content: '\E047'; color: #a074c4; }
.seti-icon._karma_light::before { content: '\E048'; color: #7fae42; }
.seti-icon._karma::before { content: '\E048'; color: #8dc149; }
.seti-icon._less_light::before { content: '\E049'; color: #498ba7; }
.seti-icon._less::before { content: '\E049'; color: #519aba; }
.seti-icon._license_light::before { content: '\E04A'; color: #b8383d; }
.seti-icon._license::before { content: '\E04A'; color: #cc3e44; }
.seti-icon._liquid_light::before { content: '\E04B'; color: #7fae42; }
.seti-icon._liquid::before { content: '\E04B'; color: #8dc149; }
.seti-icon._livescript_light::before { content: '\E04C'; color: #498ba7; }
.seti-icon._livescript::before { content: '\E04C'; color: #519aba; }
.seti-icon._lock_light::before { content: '\E04D'; color: #7fae42; }
.seti-icon._lock::before { content: '\E04D'; color: #8dc149; }
.seti-icon._lua_light::before { content: '\E04E'; color: #498ba7; }
.seti-icon._lua::before { content: '\E04E'; color: #519aba; }
.seti-icon._makefile_light::before { content: '\E04F'; color: #498ba7; }
.seti-icon._makefile::before { content: '\E04F'; color: #519aba; }
.seti-icon._markdown_light::before { content: '\E050'; color: #498ba7; }
.seti-icon._markdown::before { content: '\E050'; color: #519aba; }
.seti-icon._maven_light::before { content: '\E051'; color: #b8383d; }
.seti-icon._maven::before { content: '\E051'; color: #cc3e44; }
.seti-icon._mdo_light::before { content: '\E052'; color: #b8383d; }
.seti-icon._mdo::before { content: '\E052'; color: #cc3e44; }
.seti-icon._mustache_light::before { content: '\E053'; color: #cc6d2e; }
.seti-icon._mustache::before { content: '\E053'; color: #e37933; }
.seti-icon._new-file::before { content: '\E054'; }
.seti-icon._npm_light::before { content: '\E055'; color: #b8383d; }
.seti-icon._npm::before { content: '\E055'; color: #cc3e44; }
.seti-icon._npm_ignored_light::before { content: '\E056'; color: #3b4b52; }
.seti-icon._npm_ignored::before { content: '\E056'; color: #41535b; }
.seti-icon._nunjucks_light::before { content: '\E057'; color: #7fae42; }
.seti-icon._nunjucks::before { content: '\E057'; color: #8dc149; }
.seti-icon._ocaml_light::before { content: '\E058'; color: #cc6d2e; }
.seti-icon._ocaml::before { content: '\E058'; color: #e37933; }
.seti-icon._pdf_light::before { content: '\E059'; color: #b8383d; }
.seti-icon._pdf::before { content: '\E059'; color: #cc3e44; }
.seti-icon._perl_light::before { content: '\E05A'; color: #498ba7; }
.seti-icon._perl::before { content: '\E05A'; color: #519aba; }
.seti-icon._photoshop_light::before { content: '\E05B'; color: #498ba7; }
.seti-icon._photoshop::before { content: '\E05B'; color: #519aba; }
.seti-icon._php_light::before { content: '\E05C'; color: #9068b0; }
.seti-icon._php::before { content: '\E05C'; color: #a074c4; }
.seti-icon._powershell_light::before { content: '\E05D'; color: #498ba7; }
.seti-icon._powershell::before { content: '\E05D'; color: #519aba; }
.seti-icon._project::before { content: '\E05E'; }
.seti-icon._pug_light::before { content: '\E05F'; color: #b8383d; }
.seti-icon._pug::before { content: '\E05F'; color: #cc3e44; }
.seti-icon._puppet_light::before { content: '\E060'; color: #b7b73b; }
.seti-icon._puppet::before { content: '\E060'; color: #cbcb41; }
.seti-icon._python_light::before { content: '\E061'; color: #498ba7; }
.seti-icon._python::before { content: '\E061'; color: #519aba; }
.seti-icon._rails::before { content: '\E062'; }
.seti-icon._react_light::before { content: '\E063'; color: #498ba7; }
.seti-icon._react::before { content: '\E063'; color: #519aba; }
.seti-icon._rollup_light::before { content: '\E064'; color: #b8383d; }
.seti-icon._rollup::before { content: '\E064'; color: #cc3e44; }
.seti-icon._ruby_light::before { content: '\E065'; color: #b8383d; }
.seti-icon._ruby::before { content: '\E065'; color: #cc3e44; }
.seti-icon._rust_light::before { content: '\E066'; color: #627379; }
.seti-icon._rust::before { content: '\E066'; color: #6d8086; }
.seti-icon._salesforce_light::before { content: '\E067'; color: #498ba7; }
.seti-icon._salesforce::before { content: '\E067'; color: #519aba; }
.seti-icon._sass_light::before { content: '\E068'; color: #dd4b78; }
.seti-icon._sass::before { content: '\E068'; color: #f55385; }
.seti-icon._sbt_light::before { content: '\E069'; color: #498ba7; }
.seti-icon._sbt::before { content: '\E069'; color: #519aba; }
.seti-icon._scala_light::before { content: '\E06A'; color: #b8383d; }
.seti-icon._scala::before { content: '\E06A'; color: #cc3e44; }
.seti-icon._search::before { content: '\E06B'; }
.seti-icon._settings::before { content: '\E06C'; }
.seti-icon._shell_light::before { content: '\E06D'; color: #455155; }
.seti-icon._shell::before { content: '\E06D'; color: #4d5a5e; }
.seti-icon._slim_light::before { content: '\E06E'; color: #cc6d2e; }
.seti-icon._slim::before { content: '\E06E'; color: #e37933; }
.seti-icon._smarty_light::before { content: '\E06F'; color: #b7b73b; }
.seti-icon._smarty::before { content: '\E06F'; color: #cbcb41; }
.seti-icon._spring_light::before { content: '\E070'; color: #7fae42; }
.seti-icon._spring::before { content: '\E070'; color: #8dc149; }
.seti-icon._stylus_light::before { content: '\E071'; color: #7fae42; }
.seti-icon._stylus::before { content: '\E071'; color: #8dc149; }
.seti-icon._sublime_light::before { content: '\E072'; color: #cc6d2e; }
.seti-icon._sublime::before { content: '\E072'; color: #e37933; }
.seti-icon._svg_light::before { content: '\E073'; color: #9068b0; }
.seti-icon._svg::before { content: '\E073'; color: #a074c4; }
.seti-icon._swift_light::before { content: '\E074'; color: #cc6d2e; }
.seti-icon._swift::before { content: '\E074'; color: #e37933; }
.seti-icon._terraform_light::before { content: '\E075'; color: #9068b0; }
.seti-icon._terraform::before { content: '\E075'; color: #a074c4; }
.seti-icon._tex_light::before { content: '\E076'; color: #bfc2c1; }
.seti-icon._tex::before { content: '\E076'; color: #d4d7d6; }
.seti-icon._time-cop::before { content: '\E077'; }
.seti-icon._todo::before { content: '\E078'; }
.seti-icon._twig_light::before { content: '\E079'; color: #7fae42; }
.seti-icon._twig::before { content: '\E079'; color: #8dc149; }
.seti-icon._typescript_light::before { content: '\E07A'; color: #498ba7; }
.seti-icon._typescript::before { content: '\E07A'; color: #519aba; }
.seti-icon._vala_light::before { content: '\E07B'; color: #627379; }
.seti-icon._vala::before { content: '\E07B'; color: #6d8086; }
.seti-icon._video_light::before { content: '\E07C'; color: #dd4b78; }
.seti-icon._video::before { content: '\E07C'; color: #f55385; }
.seti-icon._vue_light::before { content: '\E07D'; color: #7fae42; }
.seti-icon._vue::before { content: '\E07D'; color: #8dc149; }
.seti-icon._windows_light::before { content: '\E07E'; color: #498ba7; }
.seti-icon._windows::before { content: '\E07E'; color: #519aba; }
.seti-icon._word_light::before { content: '\E07F'; color: #498ba7; }
.seti-icon._word::before { content: '\E07F'; color: #519aba; }
.seti-icon._xls_light::before { content: '\E080'; color: #7fae42; }
.seti-icon._xls::before { content: '\E080'; color: #8dc149; }
.seti-icon._xml_light::before { content: '\E081'; color: #cc6d2e; }
.seti-icon._xml::before { content: '\E081'; color: #e37933; }
.seti-icon._yarn_light::before { content: '\E082'; color: #498ba7; }
.seti-icon._yarn::before { content: '\E082'; color: #519aba; }
.seti-icon._yml_light::before { content: '\E083'; color: #9068b0; }
.seti-icon._yml::before { content: '\E083'; color: #a074c4; }
.seti-icon._zip_light::before { content: '\E084'; color: #627379; }
.seti-icon._zip::before { content: '\E084'; color: #6d8086; }
